<div class="container">
  <div class=" form-header">
    <h3 class="form-title">Emergency Transfer Summary (Form 34L-D) </h3>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row bordered">
      <h3> Transferring Facility</h3>
    </div>
    <div class="row bordered">
      <div class="col-md-4 bordered">
        <strong>Name</strong>
        <br>
        <%= @patient.facility.name %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row bordered">
      <h3> Patient Information </h3>
    </div>
    <div class="row bordered">
      <div class="col-md-2 bordered">
        <strong>First Name</strong>
        <br>
        <%= @patient.first_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Middle Name</strong>
        <br>
        <%= @patient.middle_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Last Name</strong>
        <br>
        <%= @patient.last_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Medical Record (MR)</strong>
        <br>
        <%= @patient.mr%>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row bordered">
      <h3> Summary </h3>
    </div>
    <div class="row bordered">
      <div class="col-md-12 bordered">
        <p class="text-justify">
          This <%= pluralize(@patient.age, "years")%> old <%= @patient.gender %> was admitted to <%= @patient.facility.name %>
          on <%= datetime_sentence(@admission.moment) %> due to <%= MedicalDiagnosis.explain_in_words(@admission.diagnoses) %>.
          The observed symptoms on admission were <%= @admission.symptoms.pluck(:description).to_sentence %>.
          <%= @admission.observations.pluck(:description).to_sentence %>.
          <br><br>
          Upon asking about known allergies, the patient
          disclosed <%= @patient.allergies.pluck(:description).to_sentence %> allergy. Upon asking about chronic
          conditions, the patient disclosed
          <%= MedicalDiagnosis.explain_in_words(@patient.chronic_conditions) %>. The patient was administered with
          <%= MedicationOrder.explain_in_words(@patient.medications) %>
          <br><br>
          The staff performed <%= DiagnosticProcedure.explain_in_words(@patient.diagnostic_procedures)%>, revealing
          <%= MedicalDiagnosis.explain_in_words(@patient.diagnoses) %>. Our team proceeded to
          <%= Treatment.explain_in_words(@patient.treatments) %>.
        </p>

      </div>


    </div>
  </div>






</div>
