<div class="container">
  <div class=" form-header">
    <h3 class="form-title">Emergency Transfer Summary (Form 34L-D) </h3>
    <hr>
  </div>
  <div class="col-md-12">
    <div class="row bordered">
      <h3> Transferring Facility</h3>
    </div>
    <div class="row bordered">
      <div class="col-md-4 bordered">
        <strong>Name</strong>
        <br>
        <%= @patient.facility.name %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row bordered">
      <h3> Patient Information </h3>
    </div>
    <div class="row bordered">
      <div class="col-md-2 bordered">
        <strong>First Name</strong>
        <br>
        <%= @patient.first_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Middle Name</strong>
        <br>
        <%= @patient.middle_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Last Name</strong>
        <br>
        <%= @patient.last_name %>
      </div>
      <div class="col-md-2 bordered">
        <strong>Medical Record (MR)</strong>
        <br>
        <%= @patient.mr%>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row bordered">
      <h3> Summary </h3>
    </div>
    <div class="row bordered">
      <div class="col-md-12 bordered">

        <%= render 'shared/admission_summary' %>

      </div>


    </div>
  </div>






</div>
