<!DOCTYPE html>
<html>
  <head>
    <title>StBern</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header clearfix">
      <h3 class="text-muted title"> StBern EMR  </h3>
      <hr>
    </div>
    <%= yield %>
  </body>
</html>
